<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-android-support" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>AndroidSupport</name>
    <js-module name="AndroidSupport" src="www/AndroidSupport.js">
        <clobbers target="cordova.AndroidSupport" />
    </js-module>
    <platform name="android">
        <framework src="com.google.android.gms:play-services-auth:20.1.0"/>
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AndroidSupport">
                <param name="android-package" value="com.android.androidsupport.AndroidSupport" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/AndroidSupport.java" target-dir="src/com/android/androidsupport/AndroidSupport" />
    </platform>
</plugin>